body {
	margin:0;
	padding:0;
}
div.container {
	width: 1000px;
	margin: 0 auto;
}
header {
	height: 200px;
	margin-bottom: 20px;
}
header .logo {
	width: 300px;
	float: left;
	height: 100%;
	background-color: #e1e1e1;
}
header nav {
	width: 680px;
	float: right;
	height: 100%;
	background-color: #e1e1e1;
}
.clear {
	clear: both;
}

section {
	width: 750px;
	height: 300px;
	float: left;
	background-color: #e1e1e1;
}
aside {
	width: 230px;
	height: 300px;
	float: right;
	background-color: #e1e1e1;
}

footer {
	height: 200px;
	background-color: #e1e1e1;
	margin-top: 20px;
}

/* DE AQUI EN ADELANTE ES NUEVO */

@media (max-width: 1024px) and (min-width: 768px) {
	
}

/* MEDIA QUERIES PARA ORIENTACIÓN VERTICAL */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
}
/* MEDIA QUERIES PARA ORIENTACIÓN HORIZONTAL */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}

@media  (max-width: 767px ) and (min-width: 481px)  {

}

@media  (max-width: 480px ) {

}